/* Estilos principais para a estrutura da página */
.about-us-container {
    max-width: 900px;
    margin: 60px auto;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.main-content {
    padding: 1rem;
}

/* Estilo para os títulos principais */
.section-heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 24px;
    color: #333;
    text-align: center;
}

/* Estilo para os parágrafos de história */
.history-paragraph {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 20px;
    color: #555;
    text-align: justify;
}

/* Estilo para as seções de Fundadores */
.section-founders {
    margin-top: 40px;
}

.founder-profile {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.founder-profile:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

/* Nome dos fundadores */
.founder-name {
    font-size: 1.3rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

/* Biografia dos fundadores */
.founder-bio {
    font-size: 1rem;
    color: #777;
}

#home-header-about-us {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 8vh;
    padding-top: 1vh;
    background-color: transparent;
    padding-left: 5vw;
    padding-right: 5vw;
}
