#main-content {
    padding: 1rem;
}

#history-paragraph-1, #history-paragraph-2{
    margin-top: 0;
}

.founder-profile{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.founder-name {
    margin-top: 0;
}

#section-history{
    padding-top: 128px;
}

#history-heading{
    padding-bottom: 16px;
}

#section-founders{
    padding-top: 64px;
}

#founders-heading{
    padding-bottom: 16px;
}

#buttonVoltar {
    background-color: #E1B926;
    padding: 6px 34px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    font-family: "Sora", sans-serif;
}  

#a{
    color: white;
}

#DivButtonVoltar{
    text-align: center;
    padding-top: 64px;
}