/* Estilos globais */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat", serif;
}

/* Estilo para a seção de detalhes */
#section-details-donations {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2vh 5vw; /* Distância nas bordas */
    background-color: #F0F4F8;
    overflow: hidden;
}

.container-details-donations {
    max-width: 1000px;
    width: 100%;
    padding: 2vh 3vw;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.container-details-donations h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 1.5vh;
}

.container-details-donations p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 1vh;
}

.container-details-donations a {
    display: inline-block;
    margin-top: 2vh;
    color: #D66253;
    font-weight: 600;
    text-decoration: none;
}

/* Estilo para a criação de doação */
#main-create-donate {
    background-color: #F0F4F8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

#main-create-donate form {
    background-color: #EDEDED;
    width: 90%;
    max-width: 800px;
    padding: 3vh 5%;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 40px #4b4b4b;
    border-radius: 10px;
    margin-top: 5vh;
    justify-content: center;
}

#main-create-donate form label {
    color: #D66253;
    font-weight: 500;
    margin-bottom: 2vh;
}

#main-create-donate form input,
#main-create-donate form textarea,
#main-create-donate form select {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #D66253;
    padding-left: 1vw;
    outline: none;
    margin-bottom: 5vh;
    width: 100%;
}

#main-create-donate form input {
    height: 2.5vh;
}

#main-create-donate form textarea {
    height: 10vh;
    border: 2px solid #D66253;
    padding-top: 1vh;
}

#main-create-donate form select {
    background-color: #D66253;
    font-weight: 600;
    height: 4vh;
    border-radius: 20px;
    color: white;
    margin-bottom: 5vh;
    padding-left: 2vh;
    padding-right: 2vh;
}

#main-create-donate form button {
    background-color: #dc7d71;
    height: 4vh;
    width: 40%;
    border: none;
    border-radius: 20px;
    margin-left: 30%;
    margin-top: 5vh;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

#main-create-donate form button:hover {
    background-color: #b55548;
    transition: .3s;
}
